.navbar-brand img {
  height: 50px;
  padding: 0px;
  border-radius: 5px;
  width: 170px;
}

#mainnav a {
  color: aliceblue;
  font-weight: bold;
  border-left:1px solid #555;
  border-right:1px solid #555;
}
}
#mainnav a:hover {
  background-color:#555;
}


#mainnav button {
  font-weight: bold;
  margin-left:5px;
  border-left:1px solid #555;
  border-right:1px solid #555;
}


#mainnav {
  padding-bottom: 0px;
  padding-top: 0px;
  /* opacity: 0.7; */
}
#mainnav > div > a {
  padding-bottom: 0px;
  padding-top: 0px;
}

#login-dp {
  min-width: 250px;
  padding: 14px 14px 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255);
}
#login-dp .help-block {
  font-size: 12px;
}
#login-dp .bottom {
  background-color: rgba(255, 255, 255);
  border-top: 1px solid #ddd;
  clear: both;
  padding: 14px;
}
#login-dp .social-buttons {
  margin: 12px 0;
}
#login-dp .social-buttons a {
  width: 49%;
}

#login-dp .form-group {
  margin-bottom: 10px;
}
.btn-fb {
  color: #fff;
  background-color: #3b5998;
}
.btn-fb:hover {
  color: #fff;
  background-color: #496ebc;
}
.btn-tw {
  color: #fff;
  background-color: #55acee;
}
.btn-tw:hover {
  color: #fff;
  background-color: #59b5fa;
}
@media (max-width: 768px) {
  #login-dp {
    background-color: inherit;
    color: #fff;
  }
  #login-dp .bottom {
    background-color: inherit;
    border-top: 0 none;
  }
}

#profile-container-nav {
    width: 30px;
    height: 30px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

#profile-container-nav img {
    width: 30px;
    height: 30px;
}
