* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  background: url(../imgs/nightBallon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /*padding-bottom: 300px;
  min-height: 100vh;*/
  position: relative;
}

#profile{
	margin-bottom:100px;
}

#profilePic{
	display: flex;
	justify-content: center;
}
#imageUpload
{
    display: none;
}

#profileImage
{
    cursor: pointer;
}

#profile-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

#profile-container img {
    width: 150px;
    height: 150px;
}

.profileLine{
	/*border:2px solid red;*/
	width: 100%;
	display: flex;
	justify-content: center;
}
.discInfo{
	width: 300px;
	border:2px solid #bd9334;
	border-radius: 15px;
	background-color: rgba(250, 250, 250, 0.95);
}

.table-header{
	display: flex;
	justify-content: center;
	font-weight: bold;
	border-radius:10px;
}

#table{
	border-radius:10px;
	background-color: rgba(250, 250, 250, 0.95);
}
/*
.overflow-ellipsis {
  text-overflow: ellipsis;
}
*/
.card-header{
	display: flex;
	justify-content: center;
	font-weight: bold;
	border-radius:15px;
	background-color: rgba(200, 200, 200, 0.95);
}


#videoPresentatif{
	width: 400px;
	height: 350px;
	border:4px solid #bd9334;
	border-radius: 15px;
	margin-bottom: 300px;
	margin-top: 50px;
	background-color: rgba(200, 200, 200, 0.712);
}

.blockquoteSlider {
	width: 900px;
	height: 250px;
}

.blockquoteSlider > p {
	height:120px;
	display: flex;
	justify-content: center;
	padding-left:60px;
	padding-right:60px;
}

.blockquoteSlider > h4 {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	color: rgba(200, 200, 200, 0.712);
}

.blockquoteSlider > footer {
	display: flex;
	justify-content: center;
}

.cardSlider {
	border-radius:15px ;
	background-color: rgba(40, 40, 40, 0.712);
}




