<!DOCTYPE html>
<html>
<head>
	<title>inscrition</title>
	
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"> -->
  <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
      crossorigin="anonymous"
    />
  <link rel="stylesheet" href="css/profileStyle.css" />
</head>
<body>
  <div th:replace="nav"></div>
<div th:replace="header"></div>

    <div class="container" id="profile" >
    <div id="publierAnnonce">
        <button class="btn btn-primary d-block btn-lg" data-toggle="modal" data-target="#model-btn-publierannonce">
     		Publier une annonce
     		&emsp;<i class="fa fa-bullhorn" aria-hidden="true"></i>
	    </button>
            <!-- MODAL -->
        <div class="modal"  th:id="model-btn-publierannonce">
	      <div class="modal-dialog" style="margin-left:250px;margin-top:60px">
	        <div class="modal-content" style="width:900px">
	          <div class="modal-header" >
	            <h5 class="modal-title">publier une annonce</h5>
	            <button class="close" data-dismiss="modal">&times;</button>
	          </div>
	          <form th:action="@{/publierAnnonce}" th:object="${nvAnnonce}" method="post" onSubmit="return confirm('vous etes sur de publier cette annonce ?');">
		          <div class="modal-body" >
		          	<div class="container" id="profile" style="margin:0">
				    		<!-- titre -->
				    		<div class="form-group form-group-publierAnnonce-short">
				                <label for="name" class="label-publierAnnonce" >Titre</label>
				                <input class="form-control" type="text" id="name" placeholder="titre" th:field="*{titre}">
				            </div>
				            <!-- description -->
				    		<div class="form-group form-group-publierAnnonce-long">
				                <label for="name" class="label-publierAnnonce">description</label>
				                <textarea class="form-control" id="message" rows="3" placeholder="description de l'annonce" th:field="*{description}"></textarea>
				            </div>
				            <div class="form-group form-group-publierAnnonce-short" >
							    <label for="name" class="label-publierAnnonce">lieu</label>
							      <input type="text" class="form-control" style="text-align: center;" id="lieu" th:placeholder="${entrepreneur.adresse}" th:field="*{lieu}">
							</div>
				            <div class="form-group form-group-publierAnnonce-short">
							    <label for="name" class="label-publierAnnonce">nom de l'entreprise</label>
							      <input type="text" readonly class="form-control" style="text-align: center;" id="nomEntrp" th:value="${entrepreneur.nomEntreprise}">
							</div>
							
				            
		          	</div>
		          
                  </div>   
	          	<div class="modal-footer">
	          	 	<button type="submit" class="btn btn-success" data-toggle="modal" data-target="#modal-warning" >Envoyer</button>
	                <button class="btn btn-secondary" data-dismiss="modal">Annuler</button>
	            </div>
	          </form>
	        </div>
	      </div>
		 </div>
        <!-- MODAL end -->
    </div>
    	
    	<!-- slider des annonces  -->
        <div class="d-flex justify-content-center " th:if="${sliderAnnonces.isEmpty()==false}">
	        <div id="slider" class="carousel slide " data-ride="carousel" >
	          <ol class="carousel-indicators">
	            <li class="active" data-target="#slider" data-slide-to="0" th:if="${sliderAnnonces.size()>0}"></li>
	            <li data-target="#slider" data-slide-to="1" th:if="${sliderAnnonces.size()>1}"></li>
	            <li data-target="#slider" data-slide-to="2" th:if="${sliderAnnonces.size()>2}"></li>
	            <li data-target="#slider" data-slide-to="3" th:if="${sliderAnnonces.size()>3}"></li>
	          </ol>
	          
	           <div class="carousel-inner">
	           
		           <div class="carousel-item active" th:if="${sliderAnnonces.size()>0}">
		              	<div class="card  text-white p-3 cardSlider">
			                <blockquote class="card-bodyquote p-3 blockquoteSlider">
			                 	<h4 style="display: flex;justify-content: center;"><spam th:text="${sliderAnnonces.get(0).getDateCreation()}"/></h4>
			                    <p><spam th:text="${sliderAnnonces.get(0).getDescription()}"/></p>
			                    <footer class="blockquote-footer">
			                        <h5>
			                            <cite title="Source Title" style="color:red"><spam th:text="${sliderAnnonces.get(0).getEtudiantAnnonces().size()}"/></cite>
			                            Cadidatures
			                        </h5>
			                    </footer>
			                </blockquote>
			            </div>
		            </div>
		            
		            <div class="carousel-item" th:if="${sliderAnnonces.size()>1}">
		              	<div class="card  text-white p-3 cardSlider">
			                <blockquote class="card-bodyquote p-3 blockquoteSlider">
			                    <h4 style="display: flex;justify-content: center;"><spam th:text="${sliderAnnonces.get(1).getDateCreation()}"/></h4>
			                    <p><spam th:text="${sliderAnnonces.get(1).getDescription()}"/></p>
			                    <footer class="blockquote-footer">
			                        <h5>
			                            <cite title="Source Title" style="color:red"><spam th:text="${sliderAnnonces.get(1).getEtudiantAnnonces().size()}"/></cite>
			                            Cadidatures
			                        </h5>
			                    </footer>
			                </blockquote>
			            </div>
		            </div>
		            
		            <div class="carousel-item" th:if="${sliderAnnonces.size()>2}">
		              	<div class="card text-white p-3 cardSlider">
			                <blockquote class="card-bodyquote p-3 blockquoteSlider">
			                	<h4 style="display: flex;justify-content: center;"><spam th:text="${sliderAnnonces.get(2).getDateCreation()}"/></h4>
			                    <p><spam th:text="${sliderAnnonces.get(2).getDescription()}"/></p>
			                    <footer class="blockquote-footer">
			                        <h5>
			                            <cite title="Source Title" style="color:red"><spam th:text="${sliderAnnonces.get(2).getEtudiantAnnonces().size()}"/></cite>
			                            Cadidatures
			                        </h5>
			                    </footer>
			                </blockquote>
			            </div>
		            </div>
		            
		            <div class="carousel-item" th:if="${sliderAnnonces.size()>3}">
		              	<div class="card text-white p-3 cardSlider">
			                <blockquote class="card-bodyquote p-3 blockquoteSlider">
			                	<h4 style="display: flex;justify-content: center;"><spam th:text="${sliderAnnonces.get(3).getDateCreation()}"/></h4>
			                    <p><spam th:text="${sliderAnnonces.get(3).getDescription()}"/></p>
			                    <footer class="blockquote-footer">
			                        <h5>
			                            <cite title="Source Title" style="color:red"><spam th:text="${sliderAnnonces.get(3).getEtudiantAnnonces().size()}"/></cite>
			                            Cadidatures
			                        </h5>
			                    </footer>
			                </blockquote>
			            </div>
		            </div>
	           </div>
	           
	           
	          <!-- CONTROLS -->
	          <a href="#slider" class="carousel-control-prev" data-slide="prev">
	            <span class="carousel-control-prev-icon"></span>
	          </a>
	
	          <a href="#slider" class="carousel-control-next" data-slide="next">
	            <span class="carousel-control-next-icon"></span>
	          </a>
          	</div>
          	
          </div>
          
          <div class="d-flex justify-content-end row-hl" id="scrollspy">
          	<a class="pb-4 item-hl " style="padding-right:100px" href="#publications">voir plus <i class="fas fa-arrow-alt-circle-right"></i></a>
          </div>
          <!-- <a th:href="@{'/profile/downloadFile/'+${entrepreneur.id}}">Download</a> -->
		<!-- lists des annoces -->
    	
    	<form th:action="@{/photoEntrepreneur}" method="post" encType="multipart/form-data">
    		<div class="profileLine" >
		    	<button class="cta" id="sub-pic" type="submit"><i class="fas fa-edit"></i></button>
		    </div>
	    	<div class="container" id="profilePic">
	          <div id="profile-container">
	          	<img id="profileImage" alt="profile-photo" th:src="'/profile/imageDisplay?id='+ ${entrepreneur.id} + '&isEntrepreneur=' + ${isEntrepreneur}" />
	          	<!-- 
	             <image id="profileImage" src="imgs/entrepreneur2.jpg" /> -->
	          </div>
	          <input id="imageUpload" type="file" name="profile_photo" placeholder="Photo" capture>
		    </div>
		</form>
	    <div class="profileLine mb-5" >
    		<div class="card bg-dark text-white" style="margin: 20px;border-radius: 20px;">
                <blockquote class="card-bodyquote" style="margin: 0px">
                    <h4>&emsp; <span th:text="${entrepreneur.nom}"/>  <span th:text="${entrepreneur.prenom}"/>&emsp;</h4> 
                </blockquote>
            </div>
    	</div>
    	
    	<!-- table of informations -->
    	
    	<table class="table table-striped my-5 " id="table">
            <tbody>
                <tr>
                    <td class="table-header">Email :</td>
                    <td >
                    	<div style="display: flex;justify-content: center;">
                    		<span th:text="${entrepreneur.email}"/>
                    	</div>
                    </td>
                </tr>
                <tr>
                    <td class="table-header">numero de telephone :</td>
                    <td >
	                    <div style="display: flex;justify-content: center;">
	                    	<span th:text="${entrepreneur.phoneNmbr}" />
	                    </div>
                    </td>
                </tr>
                <tr>
                    <td class="table-header">Adresse :</td>
                    <td >
	                    <div style="display: flex;justify-content: center;">
	                    	<span th:text="${entrepreneur.adresse}"/>
	                    </div>
                    </td>
                </tr>
                <tr>
                    <td class="table-header">Entreprise :</td>
                    <td >
	                    <div style="display: flex;justify-content: center;">
	                    	<span th:text="${entrepreneur.nomEntreprise}"/>
	                    </div>
                    </td>
                </tr>
                <!-- 
                <tr>
                    <td class="table-header">description :</td>
                    <td >
	                    <div  style="display: flex;justify-content: center;">
	                    	<span th:text="${entrepreneur.description}"/>
	                    </div>
                    </td>
                </tr>
                 -->
            </tbody>
        </table>
    	
    	<!-- <div class="profileLine"> 
    		<div class="d-flex justify-content-around row-hl">
		      <div class="p-4 item-hl" >
		      	<div class="card mb-3 discInfo" >
		      		<div class="card-header">Email </div>
		            <div class="card-body">
		                <p class="card-text"><span th:text="${entrepreneur.email}"/></p>
		            </div>
				</div>
		      </div>
		      <div class="p-4 item-hl">
		      	<div class="card mb-3 discInfo">
		      		<div class="card-header">numero de telephone </div>
		            <div class="card-body">
        				<p class="card-text"><span th:text="${entrepreneur.phoneNmbr}"/></p>
		            </div>
				</div>
		      </div>
		      <div class="p-4 item-hl">
		      	<div class="card mb-3 discInfo">
		      		<div class="card-header">Adresse </div>
		            <div class="card-body">
        				<p class="card-text"><span th:text="${entrepreneur.adresse}"/></p>
		            </div>
				</div>
		      </div>
		    </div>
		    <div class="d-flex justify-content-around row-hl">
		      	<div class="p-4 item-hl">
			      	<div class="card mb-3 discInfo">
			      	<div class="card-header">Entreprise</div>
			      		<div class="card-header"><span th:text="${entrepreneur.nomEntreprise}"/> </div>
					</div>
				</div>
		    </div>-->
			<div class="card my-5 discInfo" style="width: 100%">
				<div class="card-header">description </div>
	            <div class="card-body" >
	                <p class="card-text"><span th:text="${entrepreneur.description}"/></p>
          		</div>
        	</div>
        
        <!-- <div class="d-flex justify-content-center " style=" height:450px">
        	<div id="videoPresentatif">
        	</div>
        </div> -->
        
        
		
		<section id="publications">
			<div class="d-flex justify-content-around " style="padding:10px">
			<!--  adding icon -->
	        	<button class="btn btn-primary d-block mb-3" data-toggle="collapse" data-target="#collapse-btn-a">
	        		<i class="fa fa-arrow-down" aria-hidden="true"></i> 
	        		consulter tout les annoces que vous avez publier 
	        		<i class="fa fa-arrow-down" aria-hidden="true"></i>
	        	</button>
	        	
	        	<button class="btn btn-danger d-block mb-3" data-toggle="modal" data-target="#model-btn-edit">
	        		modifier vos informations
	        		&emsp;<i class="fas fa-edit"></i>
	        	</button>
	        </div>
        </section>
        
        <!-- MODAL -->
        <div class="modal"  th:id="model-btn-edit">
	      <div class="modal-dialog" style="margin-left:250px;margin-top:60px">
	        <div class="modal-content" style="width:900px">
	          <div class="modal-header" >
	            <h5 class="modal-title">modifier vos informations</h5>
	            <button class="close" data-dismiss="modal">&times;</button>
	          </div>
	          <form th:action="@{/modifierProfileEntrepreneur}" th:object="${entrepreneur}" method="post" encType="multipart/form-data" onSubmit="return confirm('vous etes sur d'envoyer les modifications ?');">
		          <div class="modal-body" >
		          <div class="container">
		          
                 	<div class="row register-form">
                      <div class="col-md-6">

                          <div class="form-group">
                              <input type="text" class="form-control" placeholder="nom *" th:field="*{nom}" />
                          </div>
                          <div class="form-group">
                              <input type="text" class="form-control" placeholder="prenom *" th:field="*{prenom}" />
                          </div>
                          <div class="form-group">
                              <input type="text" class="form-control" placeholder="nom Entreprise *" th:field="*{nomEntreprise}" />
                          </div>
                          <div class="form-group">
                              <input type="password" class="form-control" placeholder="ancient mot de passe *"  name="ancientmdp"/>
                          </div>
                          <div class="form-group">
                              <input type="password" class="form-control"  placeholder="nouveau mot de passe *" name="nouveaumdp" />
                              <div th:if="${errorMessage}" th:utext="${errorMessage}" style="color:red;font-style:italic;" />
                          </div>
                          <div class="form-group">
                              <textarea class="form-control" id="message" name="description" rows="3" placeholder="description" th:field="*{description}"></textarea>
                          </div>
                          
                      </div>

                      <div class="col-md-6">

                        <!-- profile picture -->
                        <div class="container" style="padding-left: 80px">
                          <div id="profile-container">
                          	<img alt="profile-photo" th:src="'/profile/imageDisplay?id='+ ${entrepreneur.id}" />
                             <!-- <image id="profileImage" src="imgs/entrepreneur2.jpg" /> -->
                          </div>
                          <input id="imageUpload" type="file" name="profile_photo" placeholder="Photo" capture>
                          </div>
                        <!-- end profile picture -->

                          <div class="form-group mt-3">
                              <input type="email" class="form-control" placeholder="Email *" th:field="*{email}" />
                          </div>
                          <div class="form-group">
                              <input type="text" class="form-control" placeholder="adresse *" th:field="*{adresse}" />
                          </div>
                          <div class="form-group">
                              <input type="text" minlength="1" maxlength="20" name="txtEmpPhone" class="form-control" placeholder="numero tel " th:field="*{phoneNmbr}" />
                          </div>
                          <!-- 
                          <div class="custom-file ">
                              <input type="file" id="myfile" class="custom-file-input" th:field="*{video}">
                              <label class="custom-file-label" for="myfile" >video presentative</label>
                          </div>
                           -->
                         
                      </div>
                  	</div>
                  </div>
	          	</div>
	          	<div class="modal-footer">
	          	 	<button type="submit" class="btn btn-success" data-toggle="modal" data-target="#modal-warning" >modifier</button>
	                <button class="btn btn-secondary" data-dismiss="modal">Annuler</button>
	            </div>
	            <!-- 
	            
	            <div class="modal modal-warning fade in" id="myModal">
				 <div class="modal-dialog">
					 <div class="modal-content">
						 <div class="modal-header">
							 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							 	<span aria-hidden="true">×</span></button>
							 <h5 class="modal-title">Delete User</h5>
						</div>
						 <div class="modal-body">
							 <h3>Are you sure want to delete this user?</h3>
						 </div>
						 <div class="modal-footer">
							 <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
							 <a type="button" class="btn btn-danger"><i class="fa fa-check"></i>&nbsp;Yes</a>
						 </div>
					 </div>
				 </div>
				</div>
				
				 -->
	          </form>
	        </div>
	      </div>
		 </div>
        <!-- MODAL end -->
		    <div class="collapse mb-5" id="collapse-btn-a">
		    
		    	<div th:each="a,status:${annonces}">
        			<div class="row">
        				<div class="col-sm-6 col-md-8 col-lg-9 col-xl-10" >
					        <div class="py-4">
					          <h6 class="text-danger font-weight-bold " ><i class="fas fa-graduation-cap mr-2"></i><spam th:text="${a.titre}"></spam></h6>
					          <div class="card p-3 ">
					            <blockquote>
					                <p th:text="${a.description}" ></p>
					                <footer>
					                    <small class="pr-4">
					                      <i class="fas fa-calendar-alt mr-2"></i><spam th:text="${a.dateCreation}"></spam>
					                    </small>
					                    <small class="pr-4">
					                      <i class="fas fa-map-marker-alt mr-2"></i><spam th:text="${a.lieu}"></spam>
					                    </small>
					                    <small class="pr-4">
					                      <cite title="Source Title"><i class="fas fa-address-card mr-2"></i><spam th:text="${a.entrepreneur.nomEntreprise}" /></cite>
					                    </small>
					                </footer>
					            </blockquote>
					         </div>
					       </div>
					       
					       <div class="collapse mb-5" th:id="'collapse-btn-'+${status.index}">
					       		<div class="card mb-3" style="background-color: rgba(100, 100, 100, 0.712);border-radius:10px ;">
						            <div class="card-body" >
						                <h4 class="card-title pb-3" align="center" style="border-bottom:3px solid #bd9334;color:#bd9334;border-radius:15px ;">List des candidats</h4>
							                <div th:each="e,status:${a.etudiantAnnonces}" >
							                	<!-- MODAL TRIGGER -->
							                	<button class="btn btn-outline-primary p-4 m-3" data-toggle="modal" th:data-target="'#candidatModal'+${status.index}" >
							                		<spam th:text="${e.etudiant.nom}+' '+${e.etudiant.prenom}" />
							                	</button>
							                	<!-- MODAL -->
							                	<div class="modal" th:id="'candidatModal'+${status.index}">
											      <div class="modal-dialog">
											        <div class="modal-content">
											          <div class="modal-header">
											            <h5 class="modal-title"><spam th:text="${e.DateCreation}" /></h5>
											            <button class="close" data-dismiss="modal">&times;</button>
											          </div>
											          <div class="modal-body">
											          	<spam th:text="${e.etudiant.nom}+' '+${e.etudiant.prenom}" /><br>
											            <spam th:text="${e.etudiant.description}" />
											            <a class="cta" th:href="@{/profileEtudiant/downloadCv(cvId=${e.etudiant.id})}">download cv</a>
											          </div>
											          <div class="modal-footer">
											            <button class="btn btn-secondary" data-dismiss="modal">Fermer</button>
											          </div>
											        </div>
											      </div>
											    </div>
							                	<!-- MODAL end -->
							                </div>
						            </div>
						        </div>
					       </div>
					    </div>
				     <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2" >
				     	<div class="card mt-5" style="background-color: rgba(200, 200, 200, 0.9);border-radius: 40px;border:3px solid #bd9334;">
				            <div class="card-body" style="padding-bottom:0px">
				                <h5 >
		                            <cite title="Source Title" style="color:red;display: flex;justify-content: center;font-weight: bold;"><spam th:text="${sliderAnnonces.get(status.index).getEtudiantAnnonces().size()}"/></cite>
		                            Cadidatures<br>
		                            
		                            	<div style="display: flex;justify-content: center;font-weight: bold;padding-top:10px;margin-top:10px;border-top:1px solid black;color:#0c4ac5" data-toggle="collapse" th:data-target="'#collapse-btn-'+${status.index}">
		                            			<i class="fas fa-arrow-alt-circle-down" ></i>
		                            	</div>
		                            
		                            
			                    </h5>
				            </div>
				        </div>
				     </div>
			       </div>
		      </div>
		      
		      	
		      
		    </div>
		    


    </div>

<div th:replace="footer"></div>

    
    
    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
      integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
      crossorigin="anonymous"
    ></script>
    
    <script >
      $("#profileImage").click(function(e) {
          $("#imageUpload").click();
      });

      function fasterPreview( uploader ) {
          if ( uploader.files && uploader.files[0] ){
                $('#profileImage').attr('src', 
                   window.URL.createObjectURL(uploader.files[0]) );
          }
      }

      $("#imageUpload").change(function(){
          fasterPreview( this );
      });

        // etudiant

      $("#profileImageEtudiant").click(function(e) {
          $("#imageUploadEtudiant").click();
      });

      function fasterPreview1( uploader ) {
          if ( uploader.files && uploader.files[0] ){
                $('#profileImageEtudiant').attr('src', 
                   window.URL.createObjectURL(uploader.files[0]) );
          }
      }

      $("#imageUploadEtudiant").change(function(){
          fasterPreview1( this );
      });
    </script>
    
    <script>
	    $('body').scrollspy({ target: '#scrollspy' });
	
	    // Add smooth scrolling
	    $('#scrollspy a').on('click', function (e) {
	      // Check for a hash value
	      if (this.hash !== '') {
	        // Prevent default behavior
	        e.preventDefault();
	
	        // Store hash
	        const hash = this.hash;
	
	        // Animate smooth scroll
	        $('html, body').animate({
	          scrollTop: $(hash).offset().top
	        }, 900, function () {
	          // Add hash to URL after scroll
	          window.location.hash = hash;
	        });
	      }
	    });
	  </script>
	  
	  <script >
		// Init Popover
		  $('[data-toggle="popover"]').popover();
	
		    function showPopover() {
		      $('#hello').popover('show');
		    }
	
		    function hidePopover() {
		      $('#hello').popover('hide');
		    }
	
		    function togglePopover() {
		      $('#hello').popover('toggle');
		    }
	  </script>
	  <script type = "text/javascript">
            function getConfirmation() {
               var retVal = confirm("vous etes sur d'envoyer les modifications ?");
               if( retVal == true ) {
                  return true;
               } else {
                  return false;
               }
            }
      </script>   
      
</body>
</html>