<!DOCTYPE html>
<html>
<head>
	<title>inscrition</title>
	
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"> -->
  <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
      crossorigin="anonymous"
    />
  <link rel="stylesheet" href="css/profileStyle.css" />
</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
    <div class="container p-0" >
      <a class="navbar-brand" style="margin:0;padding: 0" href="#"><img src="imgs/stage1.jpg" ></a>
      <button
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarNav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">publier annonce</a>
            </li>

            <li class="nav-item dropdown">
              <a
                href="#"
                class="nav-link dropdown-toggle"
                data-toggle="dropdown"
                >se connecter</a
              >
              <ul id="login-dp" class="dropdown-menu">
                <li>
                  <div class="row">
                    <div class="col-md-12">
                      se connecter
                      <div class="social-buttons">
                        <a href="#" class="btn btn-fb"
                          ><i class="fa fa-facebook"></i> Facebook</a
                        >
                        <a href="#" class="btn btn-tw"
                          ><i class="fa fa-twitter"></i> Twitter</a
                        >
                      </div>
                      or
                      <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav" >
                        <div class="form-group">
                          <label class="sr-only" for="exampleInputEmail2"
                            >Email address</label
                          >
                          <input
                            type="email"
                            class="form-control"
                            id="exampleInputEmail2"
                            placeholder="Email address"
                            required
                          />
                        </div>
                        <div class="form-group">
                          <label class="sr-only" for="exampleInputPassword2"
                            >Password</label
                          >
                          <input
                            type="password"
                            class="form-control"
                            id="exampleInputPassword2"
                            placeholder="Password"
                            required
                          />
                          <div class="help-block text-right">
                            <a href="">Forget the password ?</a>
                          </div>
                        </div>
                        <div class="form-group">
                          <button
                            type="submit"
                            class="btn btn-primary btn-block"
                          >
                            Sign in
                          </button>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" /> keep melogged-in</label
                          >
                        </div>
                      </form>
                    </div>
                    <div class="bottom text-center">
                      New here ? <a href="#"><b class=" text-primary">Join Us</b></a>
                    </div>
                  </div>
                </li>
                
              </ul>
              <li class="nav-item">
                <a class="nav-link" id="inscrire" href="#">s'inscrire</a>
              </li>
            </li>
          </ul>
        </div>
    </div>
  </nav>

    <div class="container sticky-top mt-3 mb-5" id="headerDiv">
        <header id="main-header" >
            <ul class="nav nav-fill nav-pills">
                <li class="nav-item">
                    <a class="nav-link active text-white aHover"  href="/index">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link aHover" href="#">Derniers Postes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link aHover" id="day" href="#">1 day 12 h</a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link aHover" href="#">decouvrir vos options</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link aHover" href="#"><span id="profile-icon" class="fas fa-user-circle fa-lg"></span></a>
                </li>
            </ul>
      </header>
    </div>

    <div class="container" id="profile">
    	
    	<!-- slider des annonces  -->
        <div class="d-flex justify-content-center " th:if="${sliderAnnonces.isEmpty()==false}">
	        <div id="slider" class="carousel slide " data-ride="carousel" >
	          <ol class="carousel-indicators">
	            <li class="active" data-target="#slider" data-slide-to="0" th:if="${sliderAnnonces.size()>0}"></li>
	            <li data-target="#slider" data-slide-to="1" th:if="${sliderAnnonces.size()>1}"></li>
	            <li data-target="#slider" data-slide-to="2" th:if="${sliderAnnonces.size()>2}"></li>
	            <li data-target="#slider" data-slide-to="3" th:if="${sliderAnnonces.size()>3}"></li>
	          </ol>
	          
	           <div class="carousel-inner">
	           
		           <div class="carousel-item active" th:if="${sliderAnnonces.size()>0}">
		              	<div class="card  text-white p-3 cardSlider">
			                <blockquote class="card-bodyquote p-3 blockquoteSlider">
			                 	<h4 style="display: flex;justify-content: center;"><spam th:text="${sliderAnnonces.get(0).getDateCreation()}"/></h4>
			                    <p><spam th:text="${sliderAnnonces.get(0).getDescription()}"/></p>
			                    <footer class="blockquote-footer">
			                        <h5>
			                            <cite title="Source Title" style="color:red"><spam th:text="${sliderAnnonces.get(0).getEtudiantAnnonces().size()}"/></cite>
			                            Cadidatures
			                        </h5>
			                    </footer>
			                </blockquote>
			            </div>
		            </div>
		            
		            <div class="carousel-item" th:if="${sliderAnnonces.size()>1}">
		              	<div class="card  text-white p-3 cardSlider">
			                <blockquote class="card-bodyquote p-3 blockquoteSlider">
			                    <h4 style="display: flex;justify-content: center;"><spam th:text="${sliderAnnonces.get(1).getDateCreation()}"/></h4>
			                    <p><spam th:text="${sliderAnnonces.get(1).getDescription()}"/></p>
			                    <footer class="blockquote-footer">
			                        <h5>
			                            <cite title="Source Title" style="color:red"><spam th:text="${sliderAnnonces.get(1).getEtudiantAnnonces().size()}"/></cite>
			                            Cadidatures
			                        </h5>
			                    </footer>
			                </blockquote>
			            </div>
		            </div>
		            
		            <div class="carousel-item" th:if="${sliderAnnonces.size()>2}">
		              	<div class="card text-white p-3 cardSlider">
			                <blockquote class="card-bodyquote p-3 blockquoteSlider">
			                	<h4 style="display: flex;justify-content: center;"><spam th:text="${sliderAnnonces.get(2).getDateCreation()}"/></h4>
			                    <p><spam th:text="${sliderAnnonces.get(2).getDescription()}"/></p>
			                    <footer class="blockquote-footer">
			                        <h5>
			                            <cite title="Source Title" style="color:red"><spam th:text="${sliderAnnonces.get(2).getEtudiantAnnonces().size()}"/></cite>
			                            Cadidatures
			                        </h5>
			                    </footer>
			                </blockquote>
			            </div>
		            </div>
		            
		            <div class="carousel-item" th:if="${sliderAnnonces.size()>3}">
		              	<div class="card text-white p-3 cardSlider">
			                <blockquote class="card-bodyquote p-3 blockquoteSlider">
			                	<h4 style="display: flex;justify-content: center;"><spam th:text="${sliderAnnonces.get(3).getDateCreation()}"/></h4>
			                    <p><spam th:text="${sliderAnnonces.get(3).getDescription()}"/></p>
			                    <footer class="blockquote-footer">
			                        <h5>
			                            <cite title="Source Title" style="color:red"><spam th:text="${sliderAnnonces.get(3).getEtudiantAnnonces().size()}"/></cite>
			                            Cadidatures
			                        </h5>
			                    </footer>
			                </blockquote>
			            </div>
		            </div>
	           </div>
	           
	           
	          <!-- CONTROLS -->
	          <a href="#slider" class="carousel-control-prev" data-slide="prev">
	            <span class="carousel-control-prev-icon"></span>
	          </a>
	
	          <a href="#slider" class="carousel-control-next" data-slide="next">
	            <span class="carousel-control-next-icon"></span>
	          </a>
          	</div>
          	
          </div>
          
          <div class="d-flex justify-content-end row-hl" id="scrollspy">
          	<a class="pb-4 item-hl " style="padding-right:100px" href="#publications">voir plus <i class="fas fa-arrow-alt-circle-right"></i></a>
          </div>
		<!-- lists des annoces -->
    	
    	
    	<div class="container" id="profilePic">
          <div id="profile-container">
             <image id="profileImage" src="imgs/entrepreneur2.jpg" />
          </div>
          <input id="imageUpload" type="file" name="profile_photo" placeholder="Photo" capture>
	    </div>
	    <div class="profileLine" >
    		<div class="card bg-dark text-white" style="margin: 20px;border-radius: 20px;">
                <blockquote class="card-bodyquote" style="margin: 0px">
                    <h4>&emsp; <span th:text="${entrepreneur.nom}"/>  <span th:text="${entrepreneur.prenom}"/>&emsp;</h4> 
                </blockquote>
            </div>
    	</div>
    	<!-- <div class="profileLine"> -->
    		<div class="d-flex justify-content-around row-hl">
		      <div class="p-4 item-hl" >
		      	<div class="card mb-3 discInfo" >
		      		<div class="card-header">Email </div>
		            <div class="card-body">
		                <p class="card-text"><span th:text="${entrepreneur.email}"/></p>
		            </div>
				</div>
		      </div>
		      <div class="p-4 item-hl">
		      	<div class="card mb-3 discInfo">
		      		<div class="card-header">numero de telephone </div>
		            <div class="card-body">
        				<p class="card-text"><span th:text="${entrepreneur.phoneNmbr}"/></p>
		            </div>
				</div>
		      </div>
		      <div class="p-4 item-hl">
		      	<div class="card mb-3 discInfo">
		      		<div class="card-header">Adresse </div>
		            <div class="card-body">
        				<p class="card-text"><span th:text="${entrepreneur.adresse}"/></p>
		            </div>
				</div>
		      </div>
		    </div>
		    <div class="d-flex justify-content-around row-hl">
		      	<div class="p-4 item-hl">
			      	<div class="card mb-3 discInfo">
			      	<div class="card-header">Entreprise </div>
			      		<div class="card-header"><span th:text="${entrepreneur.nomEntreprise}"/> </div>
					</div>
				</div>
		    </div>
			<div class="card mb-3 discInfo" style="width: 100%">
				<div class="card-header">description </div>
	            <div class="card-body">
	                <p class="card-text"><span th:text="${entrepreneur.description}"/></p>
            </div>
        </div>
        
        <div class="d-flex justify-content-center " style=" height:450px">
        	<div id="videoPresentatif">
        	</div>
        </div>
        
        
		
		<section id="publications">
			<div class="d-flex justify-content-center " style="padding:10px">
			<!--  adding icon -->
	        	<button class="btn btn-primary d-block mb-3" data-toggle="collapse" data-target="#collapse-btn-a">
	        		<i class="fa fa-arrow-down" aria-hidden="true"></i> 
	        		consulter tout les annoces que vous avez publier 
	        		<i class="fa fa-arrow-down" aria-hidden="true"></i>
	        	</button>
	        </div>
        </section>
		    <div class="collapse mb-5" id="collapse-btn-a">
		    
		    	<div th:each="a,status:${annonces}">
        			<div class="row">
        				<div class="col-sm-6 col-md-8 col-lg-9 col-xl-10" >
					        <div class="py-4">
					          <h6 class="text-danger font-weight-bold " ><i class="fas fa-graduation-cap mr-2"></i><spam th:text="${a.titre}"></spam></h6>
					          <div class="card p-3 ">
					            <blockquote>
					                <p th:text="${a.description}" ></p>
					                <footer>
					                    <small class="pr-4">
					                      <i class="fas fa-calendar-alt mr-2"></i><spam th:text="${a.dateCreation}"></spam>
					                    </small>
					                    <small class="pr-4">
					                      <i class="fas fa-map-marker-alt mr-2"></i><spam th:text="${a.lieu}"></spam>
					                    </small>
					                    <small class="pr-4">
					                      <cite title="Source Title"><i class="fas fa-address-card mr-2"></i><spam th:text="${a.entrepreneur.nomEntreprise}" /></cite>
					                    </small>
					                </footer>
					            </blockquote>
					         </div>
					       </div>
					       
					       <div class="collapse mb-5" th:id="'collapse-btn-'+${status.index}">
					       		<div class="card mb-3" style="background-color: rgba(100, 100, 100, 0.712);border-radius:10px ;">
						            <div class="card-body" >
						                <h4 class="card-title pb-3" align="center" style="border-bottom:3px solid #bd9334;color:#bd9334;border-radius:15px ;">List des candidats</h4>
							                <div th:each="e,status:${a.etudiantAnnonces}" >
							                	<!-- MODAL TRIGGER -->
							                	<button class="btn btn-outline-primary p-4 m-3" data-toggle="modal" data-target="#candidatModal">
							                		<spam th:text="${e.etudiant.nom}+' '+${e.etudiant.prenom}" />
							                	</button>
							                	<!-- MODAL -->
							                	<div class="modal" id="candidatModal">
											      <div class="modal-dialog">
											        <div class="modal-content">
											          <div class="modal-header">
											            <h5 class="modal-title"><spam th:text="${e.DateCreation}" /></h5>
											            <button class="close" data-dismiss="modal">&times;</button>
											          </div>
											          <div class="modal-body">
											          	<spam th:text="${e.etudiant.nom}+' '+${e.etudiant.prenom}" /><br>
											            <spam th:text="${e.etudiant.description}" />
											          </div>
											          <div class="modal-footer">
											            <button class="btn btn-secondary" data-dismiss="modal">Fermer</button>
											          </div>
											        </div>
											      </div>
											    </div>
							                	<!-- MODAL end -->
							                </div>
						            </div>
						        </div>
					       </div>
					    </div>
				     <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2" >
				     	<div class="card mt-5" style="background-color: rgba(200, 200, 200, 0.9);border-radius: 40px;border:3px solid #bd9334;">
				            <div class="card-body" style="padding-bottom:0px">
				                <h5 >
		                            <cite title="Source Title" style="color:red;display: flex;justify-content: center;font-weight: bold;"><spam th:text="${sliderAnnonces.get(status.index).getEtudiantAnnonces().size()}"/></cite>
		                            Cadidatures<br>
		                            
		                            	<div style="display: flex;justify-content: center;font-weight: bold;padding-top:10px;margin-top:10px;border-top:1px solid black;color:#0c4ac5" data-toggle="collapse" th:data-target="'#collapse-btn-'+${status.index}">
		                            			<i class="fas fa-arrow-alt-circle-down" ></i>
		                            	</div>
		                            
		                            
			                    </h5>
				            </div>
				        </div>
				     </div>
			       </div>
		      </div>
		      
		      	
		      
		    </div>
		    


    </div>




















    <!--  <script src="jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>-->
    
    
    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
      integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
      crossorigin="anonymous"
    ></script>
    
    
    
    <script >
      $("#profileImage").click(function(e) {
          $("#imageUpload").click();
      });

      function fasterPreview( uploader ) {
          if ( uploader.files && uploader.files[0] ){
                $('#profileImage').attr('src', 
                   window.URL.createObjectURL(uploader.files[0]) );
          }
      }

      $("#imageUpload").change(function(){
          fasterPreview( this );
      });

        // etudiant

      $("#profileImageEtudiant").click(function(e) {
          $("#imageUploadEtudiant").click();
      });

      function fasterPreview1( uploader ) {
          if ( uploader.files && uploader.files[0] ){
                $('#profileImageEtudiant').attr('src', 
                   window.URL.createObjectURL(uploader.files[0]) );
          }
      }

      $("#imageUploadEtudiant").change(function(){
          fasterPreview1( this );
      });
    </script>
    
    <script>
	    $('body').scrollspy({ target: '#scrollspy' });
	
	    // Add smooth scrolling
	    $('#scrollspy a').on('click', function (e) {
	      // Check for a hash value
	      if (this.hash !== '') {
	        // Prevent default behavior
	        e.preventDefault();
	
	        // Store hash
	        const hash = this.hash;
	
	        // Animate smooth scroll
	        $('html, body').animate({
	          scrollTop: $(hash).offset().top
	        }, 900, function () {
	          // Add hash to URL after scroll
	          window.location.hash = hash;
	        });
	      }
	    });
	  </script>
	  
	  <script >
		// Init Popover
		  $('[data-toggle="popover"]').popover();
	
		    function showPopover() {
		      $('#hello').popover('show');
		    }
	
		    function hidePopover() {
		      $('#hello').popover('hide');
		    }
	
		    function togglePopover() {
		      $('#hello').popover('toggle');
		    }
	  </script>
</body>
</html>